body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel
{
    margin-bottom: 0;
}

.btn
{
    background-color: #466FC1;
    color: white;
    border-radius: 2px;
}

.btn:hover,.btn:active,.btn:focus
{
    background-color: #385EA9;
    color: white;
    outline: 0;
}

input[type="submit"]
{
    outline: none;
}

input[data-provide="datepicker"][readonly]
{
    background-color: transparent;
}

.form-control, .input-group-addon
{
    border-radius: 2px;
}

label
{
    font-weight: normal;
    font-size: 12px;
}

.alert-success, .alert-danger
{
    padding: 15px;
    margin-bottom: 10px;
}

.alert-container
{
    padding: 0 15px;
}

.alert-info
{
    background-color: #87A1D7;
    background-image: none;
    color: white;
    border : none;
}

.alert-danger
{
    background-color: #E78174;
    background-image: none;
    color: white;
    border : none;
}

.alert-success
{
    background-color: #4EB77E;
    background-image: none;
    color: white;
    border : none;
}
/*rgba(70, 111, 193, 0.65);*/
