input[type="checkbox"] 
{
    margin: 1px 0px 0px;
}

fieldset
{
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 6px 12px;
}

#listeStages_filter
{
    display: none;
}

.filtre
{
    padding-left: 5px;
    margin-bottom: 5px;
}

.no-padding
{
    padding : 0;
}