 @media screen and (max-width: 767px)
{
    #btnCreerStage
    {
        margin-top: 30px;
    }
    
    #btnCreerStage.pull-right 
    {
        float: left !important;
    }    
}

@media screen and (max-width: 900px) {
    
    .td-responsive
    {
        display: inline-block;
        max-width: 220px;
    }
}

@media screen and (max-width: 480px) {

    span.td-responsive
    {
        margin-top: 30px;
        display: block;
        max-width: 200px;
        text-align: justify;
    }
    
    #validationStage
    {
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }