@media screen and (max-width: 767px)
{
    #btnCreerStage
    {
        margin-top: 30px;
    }
    
    #btnCreerStage.pull-right 
    {
        float: left !important;
    }    
}

@media screen and (max-width: 900px) {
    
    .td-responsive
    {
        display: inline-block;
        max-width: 220px;
    }
}

@media screen and (max-width: 480px) {

    span.td-responsive
    {
        margin-top: 30px;
        display: block;
        max-width: 200px;
        text-align: justify;
    }
    
    #validationStage
    {
        padding: 5px;
    }
}