textarea
{
    resize: vertical;
}

.inactive,.inactive:hover,
.inactive:active, .inactive:focus
{
    color: #444;
    background-color: transparent;
    border-color: #DDD;
    cursor: context-menu;
}

input[type="checkbox"] 
{
    margin: 2px 0px 0px;
}

.form-control[disabled], input[type="checkbox"][disabled]
{
    cursor: context-menu;
}

fieldset
{
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 6px 12px;    
}

#creerStage .nav-tabs 
{
    border-bottom: none;
}

#creerStage .nav-tabs > li
{
    border: 1px solid #DDD;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: transparent;
}

#creerStage .nav-tabs > li.active
{
    border-color: #466FC1;
    background-color: #466FC1;
    color: white;
}

#creerStage .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white;
    background: none;
    border: none;
    cursor: initial;
}

#creerStage .nav-tabs > li > a, .nav-tabs > li > a:focus, #creerStage .nav-tabs > li > a:hover {
    color: #333;
    border: none;
    border-image: none;
    padding: 0;
    outline: 0;
    border-bottom: 10px;
    background: none;
    padding: 20px 16px;
}

#creerStage .nav-tabs > li 
{
    float: none;
}

#creerStage .tab-pane
{
    height: 100%;
}

#choixOrganisme, #choixSignataireExistant
{
    margin-top: 20px;
}

div.checkbox
{
    margin: 0;
}

#choixOrganismeContainer, #choixOrganismeContainer .panel-heading,
#choixSignataireContainer, #choixSignataireContainer .panel-heading,
#choixTuteurContainer, #choixTuteurContainer .panel-heading
{
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

fieldset.disabled
{
    background-color: #EEE;
    opacity: 1;
}

#renseignementTuteur .form-group:first-of-type
{
    margin-bottom: 20px;
}