@media screen and (min-width: 768px)
{    
    .pageContainer section article .panel-body .pull-top
    {
        margin-top: 0;
    }
    
    .pageContainer section article .panel-body .editingIcon
    {
        display: none
    }
    
    .hideLater
    {
        display: auto;
    }
}

@media screen and (max-width: 767px)
{
    .pageContainer section article .panel-body .pull-top
    {
        margin-top: -40px;
    }
    
    .pageContainer section article .panel-body .editingText
    {
        display: none
    }
    
    .hideLater
    {
        display: none;
    }
    
    #informationsGeneralesContainer .fa
    {
        margin: 0;
    }
}