body, html 
{
    height: 100%;
}

.pageContainer
{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

.navbarHeader
{
    min-height: 55px;
    z-index: 1000;
}

.navbarBody
{
    min-height: 55px;
    z-index: 1000;
}

.navbarHeader span
{
    line-height: 55px;
}

.navbarHeader a.icon,
.navbarHeader span
{
    color: white;
}

#menuButton
{
    cursor: pointer;
}

.notifications
{
    position: absolute;
    top: 15px;
    right: 58px;
    padding: 2px 5px;
}

.navbarBody a[data-toggle=dropdown].icon:hover
{
    color: #213763;
}

.navbarBody a[data-toggle=dropdown].icon:focus
{
    border-bottom: 4px solid #213763;
    padding-bottom: 13.5px;
    color: #213763;
}

ul.dropdown-menu
{
    animation-duration: 1s;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    animation-name: flipInX;
    top: 53px;
    border-radius: 0;
    border-top: none;
    min-width: 220px;
    padding: 0;
}

ul.dropdown-menu li
{
    padding: 15px 15px;
}

ul.dropdown-menu li.divider
{
    padding: 0;
    margin: 0;
}

ul.dropdown-menu li a,
ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:active,
ul.dropdown-menu li a:focus
{
    background-color: transparent;
    background-image: none;
    padding: 0;
}

.pageContainer aside
{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 116;
    background-color: #FFF;
    height: 100%;
    border-right: 1px solid #DDD;
}

.pageContainer aside .panel
{
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

.pageContainer aside, 
.pageContainer aside .panel
{
    width: 220px;
}

aside, .panel
{
    transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}

.pageContainer aside .panel-body
{
    padding: 0;
}

.pageContainer aside .panel ul li a
{
    padding: 12px 24px;
    color: #515253;
    letter-spacing: 0.025em;
    font-weight: 400;
    animation: 0.5s ; 
}

.pageContainer aside .panel .nav li
{
    border-left: 3px solid transparent;
    transition: border-left-color 0.4s ease 0s;
}

.pageContainer aside .panel ul li a:hover
{
    background-color: transparent;
}

.pageContainer aside .panel ul li.nav-heading 
{
    padding: 12px 15px;
    color: #919DA8;
    font-size: 13px;
    letter-spacing: 0.035em;
    pointer-events: none;
    cursor: default;
}

#asideMenu li.panel 
{
    padding-top: 0px;
}

#asideMenu li.panel .submenu a
{
    padding: 10px 20px 10px 53px;
    color: #515253;
}

.pageContainer section
{
    position: relative;
    height: 100%;
    z-index: 111;
    margin-bottom: 60px !important;
    transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}

.pageContainer section .sectionContainer
{
    padding: 20px;
    padding: 15px;
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.pageContainer section .sectionContainer .contentHeading
{
    font-size: 24px;
    line-height: 1.1;
    color: #929292;
    font-weight: 400;
    border-bottom: 1px solid #DDD;
    margin: -20px -20px 20px;
    padding: 20px;
}

.pageContainer section .sectionContainer .contentHeading small
{
    display: block;
    font-size: 12px;
    color: #909FA7;
}

.pageContainer section article hr
{
    margin: 10px 0;
}

.pageContainer section article .panel
{
    border-width: 3px 1px 1px;
    border-color: #DDD;
    border-style: solid;
    margin-bottom: 15px;
}

.pageContainer section article .panel-title
{
    font-size: 18px;
    line-height: 24.45px;
    color: #444;
}

.pageContainer footer
{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    border-top: 1px solid #E4EAEC;
    padding: 20px;
    z-index: 109;
    transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1) 0s;
    overflow-x: hidden;
}