a.icon
{
    padding: 17.5px 15px;
}

.icon-right
{
    margin-right: 15px;
}

@font-face{
	font-family:'Source Sans Pro';
	font-style:normal;
	font-weight:400;
	src:url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype')
}

@-webkit-keyframes fadeInLeft 
{ 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes fadeInLeft 
{ 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 

#asideMenu li 
{ 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

#asideMenu li.nav-heading
{ 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}

.fa-lg
{
    width: 15.35px;
}

.informationCategory
{
    padding: 10px 0;
    margin-bottom: 10px;
}

/* VERTICAL TABS */

.tabbable {
  *zoom: 1;
}
.tabbable:before, .tabbable:after {
  display: table;
  content: "";
}
.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  float: none;
}
.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
  border-color: #eee #ddd #eee #eee;
}
.tabs-left > .nav-tabs > li.active > a, .tabs-left > .nav-tabs > li.active > a:hover, .tabs-left > .nav-tabs > li.active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #fff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #eee #ddd;
}
.tabs-right > .nav-tabs > li.active > a, .tabs-right > .nav-tabs > li.active > a:hover, .tabs-right > .nav-tabs > li.active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #fff;
}

.tabs-vertical {
  position: relative;
}
.tabs-vertical > .nav-tabs {
  position: absolute;
  top: 20px;
  display: block;
  width: auto;
  height: 42px;
  margin: 0;
  white-space: nowrap;
  border: 0 none;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs-vertical > .nav-tabs > li {
  position: relative;
  display: inline-block;
}
.tabs-vertical > .nav-tabs > li > a {
  min-width: 0;
  margin: 0;
}
.tabs-vertical > .nav-tabs > li.active {
  z-index: 1;
}
.tabs-vertical.tabs-left > .nav-tabs {
  left: 43px;
  border-top: 1px solid #ddd;
}
.tabs-vertical.tabs-left > .nav-tabs > li {
  height: 43px;
  top: -1px;
}
.tabs-vertical.tabs-left > .nav-tabs > li > a {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
}
.tabs-vertical.tabs-left > .nav-tabs > li > a:hover, .tabs-vertical.tabs-left > .nav-tabs > li > a:focus {
  border-color: #ddd #eee #eee #eee;
}
.tabs-vertical.tabs-left > .nav-tabs > li.active > a, .tabs-vertical.tabs-left > .nav-tabs > li.active > a:hover, .tabs-vertical.tabs-left > .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border-color: transparent #ddd #ddd #ddd;
  *border-top-color: #fff;
}
.tabs-vertical.tabs-left .tab-content {
  margin-left: 42px;
  border-left: 1px solid #ddd;
}
.tabs-vertical.tabs-right > .nav-tabs {
  left: 100%;
  margin-left: -1px;
  border-bottom: 1px solid #ddd;
}
.tabs-vertical.tabs-right > .nav-tabs > li > a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.tabs-vertical.tabs-right > .nav-tabs > li > a:hover, .tabs-vertical.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eee #eee #ddd #eee;
}
.tabs-vertical.tabs-right > .nav-tabs > li.active > a, .tabs-vertical.tabs-right > .nav-tabs > li.active > a:hover, .tabs-vertical.tabs-right > .nav-tabs > li.active > a:focus {
  background-color: #fff;
  border-color: #ddd #ddd transparent #ddd;
  *border-bottom-color: #fff;
}
.tabs-vertical.tabs-right .tab-content {
  margin-right: 42px;
  border-right: 1px solid #ddd;
}
