body
{
    color: #888;
}

hr
{
    border-color: #DDD;
}

#loginPanel
{
    text-align: center;
    margin: 30px auto auto;
    width: 290px;
}

#loginPanel > .panel-heading
{
    height: 240px;
    background: transparent url("../Images/logoEasyStage.png") no-repeat scroll center top;
    border: none;
}

#passwordInstruction
{
    text-align: justify;
    font-size: 95%;
    margin-top: -5px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
}

#signupInformation
{
    text-align: justify;
    font-size: 95%;
    padding: 10px;
    border-radius: 4px;
}

#loginError
{
    text-align: justify;
    font-size: 95%;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    background-color: rgba(221, 75, 57, 0.7);
    border-radius: 4px;
}