.css-shapes-preview{
    display: inline-block;
    height: 10px; 
    width: 10px; 
    background-color: #5CB85C; 
    border-radius: 150px; 
}

.panel-heading.row
{
    text-align: center;
}
 
table thead {
    display: none;
}

 table tr 
 {
    border: none;
    padding: 5px;
    display: block;
 }
 
.label
{
    padding: 4px 15px;
}

table 
{
    border: 0;
}

table td 
{
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    padding: 10px;
}

table td:last-child 
{
    border-bottom: 0;
}

table td:before 
{
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

#mesStages .panel-body
{
    padding: 20px;
}

#mesStages .panel
{
    border-radius: 0;
    border-top: 1px solid #DDD;
}

#mesStages .panel-heading
{
    padding: 18px;
}

p.alert-info
{
    text-align: center;
}